/* General styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background: #f0f4f7; /* Light blue background */
  color: #2657eb;
}

.App {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff; /* White background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle box shadow */
}

.header {
  width: 100%;
  padding: 15px 0;
  border-bottom: 2px solid #2657eb;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
  font-style: oblique;
  text-align: center; /* Center the text */
}

.intro-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.t-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.ex-text {
  border: 2px solid #2657eb;
  border-radius: 10px;
  color: #2657eb;
  font-size: 1.4em;
  line-height: 1.2em;
  padding: 10px;
  background-color: #f0f4f7; /* Light blue background */
  margin-bottom: 20px;
  text-align: center;
}

.ex-text::before,
.ex-text::after {
  content: open-quote;
  color: #de6161;
}

.ex-img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.text3 {
  color: #f4f4f4;
  border: 1px solid #2657eb;
  background-color: #2657eb;
  text-align: center;
  font-weight: bolder;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column; /* Change to column for better mobile layout */
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  cursor: pointer;
  color: #f4f4f4;
  font-weight: bolder;
  width: 100%; /* Take full width on mobile */
  max-width: 200px; /* Limit the button width on larger screens */
  margin: 0 auto; /* Center the button on larger screens */
  border: 1px solid #2657eb;
  border-radius: 10px;
  background: #2657eb; /* Standard background color */
  transition: background 0.3s ease;
}

/* Hover effect only if the button is not disabled */
button:not([disabled]):hover {
  background: #1b4fa7; /* Darker color on hover */
}

/* Styles for the disabled state */
button[disabled] {
  background: #d3d3d3;
  cursor: not-allowed;
  color: #a0a0a0;
}

/* Media query for wider screens */
@media only screen and (min-width: 600px) {
  .input-container {
    flex-direction: row; /* Align inputs side by side on wider screens */
  }

  input {
    margin-right: 10px; /* Add margin between input and button on wider screens */
  }

  button {
    width: auto; /* Auto width on wider screens */
  }
}
